@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:wght@300;400;700&display');
@import url('navMenu.css');
@import  url('card.css');
@import  url('dashboard.css');
@import  url('form.css');
@import url('table.css');
@import  url('button.css');
@import  url('modal.css');
@import  url('image.css');
body {
    background-color: #EFF0F4 !important;
    font-family:'Roboto Condensed',sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.bg-site {
    background-color: #CB4D85;
}